.container{
    width: 960px;
    height: 1033px;
}
.container  .conturn{
    width: 960px;
    height: 1004px;
}
.container  .conturn .leftContent{
    height: 1004px;
}
.container .conturn .rightContent{
    height: 1004px;
}
.conturn .leftContent .listmenu{
    height: 967px;
}
.conturn .rightContent .listcon{
    height: 966px;
}